<div class="container">
  <div class="card my-5">
    <div class="card-header border-secondary">
      <h5 class="card-title text-secondary m-0">
        STEINWAY & SONS
      </h5>
      <small class="text-muted">The world’s finest high-resolution player piano</small>
    </div>
    <div class="card-body">
      {{outlet}}
    </div>
    <div class="card-footer  text-muted">

      <a class="btn btn-light btn-sm ml-2" target="_blank" href="https://github.com/markosandmarkos">
        {{fa-icon "github" size="2"}}
      </a>
      <a class="btn btn-light text-primary btn-sm ml-2 ml-2" target="_blank"
         href="https://www.linkedin.com/in/martin-nazaryan/">
        {{fa-icon "linkedin-square" size="2"}}
      </a>

      <span class="text-primary float-right mt-2">
        &copy; 2018,  Developed by Martin Nazaryan for Ucraft
      </span>

    </div>
  </div>
</div>
